<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253117870961-6bp701fi1p8i591mt2lgda5ssekh9hde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253117870961-6bp701fi1p8i591mt2lgda5ssekh9hde</string>
	<key>API_KEY</key>
	<string>AIzaSyB9f5gIbL9YNsHEQ7TB4vXbzupzDsTSO8w</string>
	<key>GCM_SENDER_ID</key>
	<string>253117870961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-c9463</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-c9463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253117870961:ios:76fb09afe0228695d37cd0</string>
</dict>
</plist>